<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ввод координат</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #e0f7fa; /* Нежно-голубой фон */
        }
        .input-card {
            margin-top: 50px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #ffffff;
        }
        h1 {
            color: #343a40;
        }
        .form-label {
            color: #495057;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="input-card">
        <h1 class="text-center">Введите координаты двух точек</h1>
        <form method="post">
            <h2>Точка 1</h2>
            <div class="form-group">
                <label for="lat1" class="form-label">Широта(lat):</label>
                <input type="text" class="form-control" id="lat1" name="lat1" required>
            </div>
            <div class="form-group">
                <label for="lon1" class="form-label">Долгота(lon):</label>
                <input type="text" class="form-control" id="lon1" name="lon1" required>
            </div>

            <h2>Точка 2</h2>
            <div class="form-group">
                <label for="lat2" class="form-label">Широта(lat):</label>
                <input type="text" class="form-control" id="lat2" name="lat2" required>
            </div>
            <div class="form-group">
                <label for="lon2" class="form-label">Долгота(lon):</label>
                <input type="text" class="form-control" id="lon2" name="lon2" required>
            </div>

            <button type="submit" class="btn btn-primary btn-block">Отправить</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
